nav>ul{
    display: flex;
}
nav li{    
    list-style: none;   
}
li>a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    background-color: rgb(23, 22, 56); 
    padding: 10px 20px; 
}
nav li .dropdown{
    display: none;
    position: absolute;
    margin-left: -30px;
    margin-top: 18px;
}
nav li:hover > .dropdown{
    display: block;
}
.newsArticleHead>h1{
    font-size: 45px;
}
.newsArticleHead>figure>img{
    width: 500px;
}
.newsArticleHead>figure>figcaption{
    width: 500px;
    color: rgb(82, 82, 82);
    text-align: justify;
}
.newsArticleHead>p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: justify;
    width: 500px;
}
form>label{
    display: block;
    margin-bottom: 10px;
}
table{
    border-collapse: collapse;
}
th, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px 10px;
}
table > caption{
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(22, 10, 68);
    padding: 10px;
}

